<!DOCTYPE html>
<HTML>
    <HEAD>
        <title>WordSync</title>

        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <meta name="description" content="This will be a description">

        <!--  SKELETON AND FONT  -->
        <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700" rel="stylesheet">
        <link rel = "stylesheet" type = "text/css" href ="/assets/skeleton.css"/>


        <link rel = "stylesheet" type = "text/css" href ="/assets/stylesheet.css"/>
        <link rel="shortcut icon" type="image/png" href="/assets/icon.png">
    </HEAD>

    <BODY> 
        <div class="container">
            <div id = "header-section">
                <div class = "row">
                        <div class = "six columns left">
                           WordSync
                        </div>
                        <div class = "six columns right">
                            <%= gameId %>
                        </div>
                </div>
            </div>
                <div id = "word-section">
                    <div class = "row">
                        <div class = "error" id = "game-error"><%= error %></div>
                    </div>
                    <div class = "row">
                        <div class = "six columns one-word left">
                            Your last guess<br> 
                            <span class = "word" id = "your-word"></span>
                        </div>
                        <div class = "six columns one-word right">
                            Their last guess<br>
                            <span class = "word" id = "their-word"></span>
                         </div>
                    </div>
                </div>

                <div id = "input-section">
                    <div id = "input-wrapper">
                        <div class = "input-label">Your next guess</div>
                        <input id = "next-guess" class = "input-submit u-full-width"/>
                        <button id = "submit-guess" class = "button-primary">Guess!</button>
                    </div>
                    <div id = "guess-waiting-status"></div>
                </div>
                <div id = "history-section" class = "row">
                    <div class = "six columns left">
                        <h6>Your guesses</h6>
                    </div>
                    <div class = "six columns right">
                        <h6>Their guesses</h6>
                    </div>
                    <div id = "guess-history">
                    </div>
                </div>

            </div>
        </div>

        <script src="https://cdn.socket.io/socket.io-1.4.0.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script type="text/javascript" src = "/assets/script.js"></script>
    </BODY>
</HTML>


