<!DOCTYPE html>
<HTML>
    <HEAD>
        <title>WordSync</title>

        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <meta name="description" content="This will be a description">

        <!--  SKELETON AND FONT  -->
        <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700" rel="stylesheet">
        <link rel = "stylesheet" type = "text/css" href ="/assets/skeleton.css"/>


        <link rel = "stylesheet" type = "text/css" href ="/assets/stylesheet.css"/>
        <link rel="shortcut icon" type="image/png" href="/assets/icon.png">
    </HEAD>

    <BODY>
        <div class = "error" id = "start-error"><%= error %></div>
        
        <div class="container">
            <div class = "row">

                <div class="twelve columns">
                    <h1 id = "logo">WordSync</h1>

                    <button id = "new-game" class = "button-primary">New Game</button>

                    <input id = "game-code" placeholder = "game code"/><br>
                    <button id = "join-game">Join Game</button>

                </div>
            </div>
        </div>

        

        <script src="https://cdn.socket.io/socket.io-1.4.0.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script type="text/javascript" src = "/assets/script.js"></script>
    </BODY>
</HTML>
